* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  margin-right: 30px;
}
body {
  background: whitesmoke;
}
.menu {
  background: rgb(136, 146, 191);
}
.nav ul {
  display: inline;
  list-style: none;
}
.menu > li {
  position: relative;
  display: inline-block;
}
.menu > li > a {
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.menu li a:hover {
  color: #ce7d35;
  transition: all 0.3s;
}
.sub {
  position: absolute;
  right: 0;
  background: #333333;
  width: 120px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
.sub li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.menu li:hover .sub {
  visibility: visible;
  opacity: 1;
}
h1 {
  display: block;
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
