h1 {
  text-align: center;
  font-size: 30px;
  color: #0277bd;
}
p {
  text-align: center;
  font-size: 20px;
  font-style: italic;
}
pre {
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
  font-size: 25px;
  color: #0277bd;
}
h3 {
  text-align: center;
  font-size: 22px;
  color: red;
}
body {
  background-color: #f5f5f5;
}
