a {
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}
h1 {
  display: block;
  text-align: center;
}
p {
  display: block;
  text-align: center;
}
h2 {
  font-size: 35px;
}
.img {
  display: flex;
  justify-content: center;
}
