h1 {
  text-align: center;
  font-size: 30px;
}
p {
  text-align: center;
  font-size: 20px;
}
h2 {
  text-align: center;
  font-size: 30px;
}
h3 {
  text-align: center;
  font-size: 30px;
}
h4 {
  text-align: center;
  font-size: 30px;
}
.img {
  display: flex;
  justify-content: center;
}
h5 {
  text-align: center;
  font-size: 30px;
}
body {
  background-color: #f2f2f2;
}
