h1 {
  text-align: center;
  font-size: 25px;
}
h2 {
  text-align: center;
  font-size: 20px;
}
p {
  text-align: center;
  font-size: 17px;
}
a {
  display: flex;
  justify-content: left;
  font-size: 20px;
}
.img {
  display: flex;
  justify-content: center;
}
pre {
  display: flex;
  justify-content: center;
}
