.img {
  display: flex;
  justify-content: center;
}
h1 {
  display: block;
  text-align: center;
  font-size: 40px;
  font-style: italic;
}
.anclas {
  font-size: 25px;
  /*
  display: flex;
  flex-direction: column;
  pointer-events: all;
  */
}
a:hover {
  background-color: antiquewhite;
}
a {
  text-decoration: none;
}
p {
  font-size: 25px;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: center;
  text-decoration: black;
}
h3:hover {
  font-size: 45px;
}
pre {
  display: flex;
  justify-content: center;
}
h4 {
  text-align: center;
  font-size: 22px;
}
body {
  background-color: azure;
}
h5 {
  text-align: right;
}

#button {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

#button svg {
  display: block;
  margin: 0 auto;
  padding: 0;
}

#button svg:first-child {
  position: absolute;
  top: -10px;
  left: calc(50% - 15px);
}
